@import "variables";
@import "functions";
@import "mixins";
@import "theme-fonts";
@import "theme-colors";
@import "theme-layouts";
@import "theme-conponents.scss";

.article-box {
  margin: 10px auto;
  max-width: 850px;
  padding: 15px;
  border-radius: 2px;
  line-height: 1.6;
  letter-spacing: .06rem;
  @include material-shadow(1);
  h1 {
    margin-top: 0;
    padding-bottom: 3px;
    border-bottom: 1px solid;
  }
  h2 {
    margin: 2.5em 0 0.2em 0;
  }
  blockquote {
    padding: 5px 10px;
    margin-left: 0.5em;
    border-radius: 2px;
    border-left: 0.8em solid;
  }
  kbd {
    display: inline-block;
    background-color: #eee;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    border-radius: 2px;
    color: #333;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }
  p > code, li > code {
    display: inline-block;
    padding: 3px 5px;
    line-height: 1;
    border-radius: 2px;
  }
  .highlighter-rouge .highlight {
    overflow-y: auto;
  }
}
.index-box {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: -1px;
    padding: 15px 5px;
    border-width: 1px;
    border-style: solid;
  }
}

.contents-warpper {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "sidebar contents";
  min-height: 100vh;
  .sidebar-box {
    grid: "sidebar";
    @include material-shadow(1);
  }
  .article-box {
    grid: "contents";
    width: 850px;
  }
}

.contents-card {
  width: 450px;
  aspect-ratio: 2;
  display: grid;
  grid-template-rows:
    1fr minmax(max-content, auto) minmax(max-content, auto);
  @include material-shadow(2);
  .title-box {
    padding: 5px;
    background-position: center;
    background-size: cover;
    text-shadow: 1px 1px #000;
  }
  .desc-box {
    padding: 5px;
    line-height: 1em;
    min-height: 3em;
  }
  .tool-box {
    padding: 5px;
    text-align: right;
  }
}