
/* Buttons */
.inline-button {
  display: inline-block;
  margin: auto;
  padding: 8px 15px;
  border-width: 0;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  border-radius: 2px;
  @include material-shadow(1);
}